<div class="main-container">
	<div class="main wrapper clearfix">
		<div class="row">
			<article class="col-md-7 col-sm-12">
				<button class="btn btn-primary" ng-click="vm.backToHome()">
					<i class="fas fa-arrow-left"></i> Go back to home
				</button>
				<header>
					<h1>{{ vm.movie.title }}</h1>
					<video controls
					       width="{{ vm.movie.contents[0].width }}"
					       height="{{ vm.movie.contents[0].height }}">
						<source ng-src="{{ vm.movie.contents[0].url }}" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<p><strong>Synopsis:</strong> {{ vm.movie.description }}</p>
					<p>Tagged as</p>
					<ul style="list-style: none">
						<li ng-repeat="cat in vm.movie.categories" ui-sref="site.search({tag: cat.title.toLowerCase()})">
							<a><i class="fas fa-tag"></i> {{ cat.title }}</a>
						</li>
					</ul>
				</header>
			</article>
			
			<div class="col-md-4 col-md-offset-1 col-sm-12">
				<aside>
					<h3>More like this</h3>
					<div ng-repeat="movie in vm.movies track by $index"
					     class="pointer"
					     ui-sref="site.view({index: $index})"
					     ng-if="movie.categories[0].id === vm.movie.categories[0].id">
						<p>
							<img ng-src="{{ movie.images[0].url }}" height="32" width="32" alt="{{ movie.id }}">
							<strong>{{ movie.title }}</strong>
						</p>
					</div>
				</aside>
			</div>
		</div>
	</div> <!-- #main -->
</div> <!-- #main-container -->