[class^="icon-"], [class*=" icon-"] {
  font-family:             'icon-font';
  speak:                   none;
  font-style:              normal;
  font-weight:             normal;
  font-variant:            normal;
  text-transform:          none;
  line-height:             1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}
