<div class="footer footer-container">
	<footer class="wrapper">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<h5><strong>MyVOD Inc.</strong></h5>
				<h5>Made by Alejandro López</h5>
			</div>
			<div class="col-md-4 hidden-sm">
				<h5><strong class="text-uppercase">Services</strong></h5>
				<p>- Lorem</p>
				<p>- Ipsum</p>
			</div>
			<div class="col-md-4 hidden-sm">
				<h5><strong class="text-uppercase">Contact</strong></h5>
				<p>+1 (00)555-55555</p>
				<p>+2 (01)555-55555</p>
			</div>
		</div>
	</footer>
</div>