<div class="main-container">
	<div class="main wrapper clearfix">
		<div class="row">
			<div class="col-md-10">
				<h2>You recently watched</h2>
				<ul ng-if="vm.history.length">
					<li ng-repeat="movie in vm.history track by $index">
						<span class="pointer text-info" ng-click="vm.goToMovie(movie.id)">{{ movie.title }}</span>
						<span ng-click="vm.resetHistory($index)">[<span class="text-danger">Delete</span>]</span>
					</li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-12" ng-if="vm.history.length">
				<button class="btn btn-block btn-danger" ng-click="vm.resetHistory()">Delete history</button>
			</div>
		</div>
		<p ng-if="!vm.history.length">
			There aren't any records in your history.
			<a ui-sref="site.dashboard">Start watching your favorite videos and movies</a>
		</p>
	</div>
</div>