<div class="header-container">
	<header class="wrapper clearfix">
		<h1 class="title pointer" ui-sref="site.dashboard">
			<img src="images/monitor.png" alt="MyVOD Logo" style="height: 32px; width: auto;"> MyVOD
		</h1>
		<nav>
			<ul>
				<li><a ui-sref="site.dashboard" ui-sref-active-eq="label-active">Home</a></li>
				<li><a ui-sref="site.myHistory" ui-sref-active-eq="label-active">History</a></li>
				<li><a ui-sref="site.search" ui-sref-active-eq="label-active">Search</a></li>
			</ul>
		</nav>
	</header>
</div>