<div class="main-container">
	<div class="main wrapper clearfix">
		
		<ui-carousel slides="vm.movies"
		             slides-to-show="3"
		             slides-to-scroll="1"
		             initial-slide="1"
		             autoplay="true"
		             autoplay-speed="4000"
		             dots="false">
			<carousel-item class="pointer" role="button">
				<a ui-sref="site.view({ index: $index })">
					<img ng-src="{{ item.images[0].url }}}" alt="{{ item.id }}">
					<h4>{{ item.title }}</h4>
				</a>
			</carousel-item>
		</ui-carousel>
		
		<div class="row">
			<div class="col-md-9 col-sm-12">
				<article>
					<header>
						<h3><i class="fas fa-home"></i> Rent videos right from your couch</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
						   Nunc
						   vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat
						   est,
						   eu
						   porta velit mollis nec.</p>
					</header>
					<section>
						<h3><i class="fas fa-bolt"></i> Blazing flast</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
						   Nunc
						   vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat
						   est,
						   eu
						   porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem
						   dapibus
						   velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
					</section>
					<section>
						<h3><i class="fas fa-tv"></i> Multiroom</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor.
						   Nunc
						   vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat
						   est,
						   eu
						   porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem
						   dapibus
						   velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
					</section>
				</article>
			</div>
			<div class="col-md-3 col-sm-12">
				<aside>
					<h3>Recently watched</h3>
					<p ng-repeat="movie in vm.history | limitTo: 5 | orderBy: movie.time track by $index"
					   ng-click="vm.goToMovie(movie.id)">
						+ <span class="pointer">{{ movie.title | maxLength: 25}}</span>
					</p>
				</aside>
			</div>
		</div>
	</div> <!-- #main -->
</div> <!-- #main-container -->